body {
  overflow-x: hidden;
}

.nav {
  position: fixed !important;
  background-color: #fff;
  z-index: 99;
  -webkit-animation: slide-down 0.7s;
          animation: slide-down 0.7s;
  overflow: visible;
  height: 98px;
  width: 100%;
  transition: 0.4s;
}
.nav img {
  margin: 32px;
  height: 35px;
  right: 0;
}
.nav .nav-bar {
  margin-left: 30px;
  margin-top: 24px;
}
.nav .nav-bar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.nav .nav-bar li {
  list-style: none;
  justify-content: center;
  padding: 14px;
}
.nav .nav-bar .drone {
  position: relative;
}
.nav .nav-bar .drone .drone1 {
  position: absolute;
  width: 350px;
}
.nav .nav-bar .drone .drone1 .drones {
  margin: 35px;
}
.nav .nav-bar .drone .drone1 .drones ul {
  position: absolute;
  top: 20px;
  opacity: 0;
  width: 200px;
  height: 170px;
  background-color: white;
  transition: 0.3s;
}
.nav .nav-bar .drone .drone1 .drones ul li {
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 4px;
}
.nav .nav-bar .drone .drone1 .drones ul li a {
  font-size: 16px;
  color: #7a7a7a;
}
.nav .nav-bar .drone .drone1 .drones ul a:hover {
  color: #000000;
}
.nav .nav-bar .drone .drone2 {
  position: absolute;
  width: 300px;
}
.nav .nav-bar .drone .drone2 .drones {
  margin: 15px;
}
.nav .nav-bar .drone .drone2 .drones ul {
  position: absolute;
  opacity: 0;
  width: 210px;
  height: 170px;
  background-color: white;
  transition: 0.3s;
}
.nav .nav-bar .drone .drone2 .drones ul li {
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 4px;
}
.nav .nav-bar .drone .drone2 .drones ul li a {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 400;
}
.nav .nav-bar .drone .drone2 .drones ul a:hover {
  color: #000000;
}
.nav .nav-bar .drone li:hover .drone1 {
  top: 25px;
}
.nav .nav-bar .drone li:hover .drone1 .drones ul {
  opacity: 1;
}
.nav .nav-bar .drone li:hover .drone2 {
  top: 25px;
}
.nav .nav-bar .drone li:hover .drone2 .drones ul {
  opacity: 1;
}
.nav .nav-bar li:hover a {
  color: rgb(140, 24, 24);
}
.nav .search {
  margin: 32px;
  margin-left: 10px;
}
.nav .search li {
  list-style: none;
}
.nav .search a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 19px;
}
.nav .search a sup {
  left: -8px;
  background-color: rgb(215, 65, 65);
  color: white;
  font-size: 11px;
  top: -11px;
}
.nav .search li:hover a {
  color: rgb(152, 15, 15);
}

.droneimg {
  background-image: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/breadcrumb.png);
  height: 150px;
  width: 100%;
  margin-top: 100px;
  background-attachment: fixed;
  background-color: #f5f5f5;
}
.droneimg .title {
  display: none;
  color: #222;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin: 20px;
}
.droneimg ul {
  margin-left: 50%;
}
.droneimg ul li {
  padding-top: 60px;
  list-style: none;
}
.droneimg ul li a {
  text-decoration: none;
  color: black;
  padding: 4px;
  font-size: 10px;
}
.droneimg ul li a i {
  font-size: 12px;
}
.droneimg ul .iconka {
  margin: 10px;
  margin-top: 68px;
  width: 1px;
  height: 13px;
  background-color: #4c4c4c;
}

.sections .categories {
  margin-top: 30px;
  width: 268px;
  height: 280px;
  border: 1px solid #e5e3e3;
}
.sections .categories h4 {
  width: 248;
  height: 48px;
  background-color: #f5f5f5;
  color: #222222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  letter-spacing: 1px;
}
.sections .categories li {
  list-style: none;
  height: 38px;
  color: #7a7a7a;
}
.sections .categories a {
  text-decoration: none;
  color: #232323;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: -20px;
  letter-spacing: 1px;
}
.sections .refine {
  margin-top: 30px;
  width: 268px;
  height: 470px;
  border: 1px solid #e5e3e3;
}
.sections .refine h4 {
  width: 248;
  height: 48px;
  background-color: #f5f5f5;
  color: #222222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  letter-spacing: 1px;
}
.sections .refine p {
  color: #232323;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: -15px;
  font-style: bold;
  letter-spacing: 1px;
}
.sections .refine ul {
  margin-top: -5px;
}
.sections .refine ul li {
  list-style: none;
  height: 23px;
  color: #7a7a7a;
  letter-spacing: 1px;
  margin-left: -15px;
  font-size: 15px;
}
.sections .refine .button {
  margin: 20px;
}
.sections .refine .button button {
  width: 142px;
  height: 40px;
  background-color: #232323;
  color: #ffffff;
  border: none;
}

.sellers {
  margin-top: 30px;
  width: 268px;
  height: 470px;
  border: 1px solid #e5e3e3;
}
.sellers h4 {
  width: 248;
  height: 48px;
  background-color: #f5f5f5;
  color: #222222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  letter-spacing: 1px;
}
.sellers .text {
  margin-left: 115px;
  margin-top: -100px;
  height: 85px;
}
.sellers .text h6 {
  font-family: sans-serif;
  color: #232323;
}
.sellers .text p {
  color: rgb(224, 62, 62);
  font-family: sans-serif;
}
.sellers img {
  padding: 20px;
}
.sellers .image {
  margin-top: -10px;
}

.reklam img {
  padding-top: 30px;
}

.latest {
  margin-top: 30px;
  width: 268px;
  height: 462px;
  border: 1px solid #e5e3e3;
}
.latest h4 {
  width: 248;
  height: 48px;
  background-color: #f5f5f5;
  color: #222222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  letter-spacing: 1px;
}
.latest .text {
  margin-left: 115px;
  margin-top: -102px;
  height: 85px;
}
.latest .text h6 {
  font-family: sans-serif;
  color: #232323;
}
.latest .text span {
  color: rgb(224, 62, 62);
  font-family: sans-serif;
}
.latest .text .old {
  text-decoration: line-through;
  color: #a4a4a4;
  padding: 5px;
}
.latest img {
  padding: 20px;
}
.latest .image {
  margin-top: -10px;
}

.footer {
  background-color: #f2f6f9;
  width: 100%;
  height: 690px;
  margin-top: 65px;
}
.footer .contact {
  width: 560px;
  height: 451px;
  border: 1px solid rgba(102, 102, 102, 0.15);
  margin-top: 80px;
}
.footer .contact .col input {
  border-radius: 14px;
  margin-top: 20px;
  border-color: #e9e9e9;
  font-size: 15px;
  -moz-columns: #555;
       columns: #555;
}
.footer .contact .message textarea {
  margin-top: 20px;
  border-radius: 20px;
  height: 135px;
  border-color: #e9e9e9;
}
.footer .contact button {
  border-radius: 25px;
  width: 140px;
  height: 48px;
  margin: 13px;
  font-size: 14px;
  margin-left: 189px;
  background-color: #eb4d4b;
}
.footer .contact .contact-text {
  text-align: center;
  width: 575px;
  margin-bottom: 25px;
  margin-top: 30px;
  margin-left: -22px;
}
.footer .contact .contact-text p b {
  font-family: "Poppins", sans-serif;
  color: #eb4d4b;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin-bottom: 12px;
  font-style: bold;
}
.footer .contact .contact-text h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #222222;
  font-family: "Poppins", sans-serif;
}
.footer .contact .contact-text .horizontal {
  width: 80px;
  height: 4px;
  background-color: #EB4D4B;
  margin-left: 42%;
}
.footer .subscribe {
  width: 560px;
  height: 451px;
  border: 1px solid rgba(102, 102, 102, 0.15);
  margin-top: 80px;
}
.footer .subscribe .icon {
  width: 100%;
  height: 40px;
  font-size: 50px;
  color: #EB4D4B;
  margin-left: 45%;
}
.footer .subscribe .text {
  margin-top: 40px;
  text-align: center;
}
.footer .subscribe .text p {
  color: #686767;
}
.footer .subscribe .col {
  margin-left: 30px;
}
.footer .subscribe .col input {
  height: 45px;
  border-radius: 20px;
  border-color: #e9e9e9;
}
.footer .subscribe .col button {
  width: 120px;
  height: 45px;
  border-radius: 20px;
  background-color: #EB4D4B;
}
.footer .subscribe .sosial {
  margin-left: 21%;
}
.footer .subscribe .sosial ul {
  padding: 15px;
  margin: 10px;
}
.footer .subscribe .sosial ul li {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 3px;
  margin: 3px 3px;
  position: relative;
  text-align: center;
  transition: 0.4s;
}
.footer .subscribe .sosial ul li a {
  color: white;
  font-size: 18px;
}
.footer .subscribe .sosial ul li.facebook {
  background-color: #3b5999;
}
.footer .subscribe .sosial ul li.twitter {
  background-color: #00ACED;
}
.footer .subscribe .sosial ul li.youtube {
  background-color: #D12121;
}
.footer .subscribe .sosial ul li.google {
  background-color: #DC473B;
}
.footer .subscribe .sosial ul li.pinterest {
  background-color: #CB2027;
}
.footer .subscribe .sosial ul li.instagram {
  background-color: #CC2366;
}
.footer .contact-text {
  text-align: center;
  width: 575px;
  margin-bottom: 25px;
  margin-top: 30px;
  margin-left: -22px;
}
.footer .contact-text p b {
  font-family: "Poppins", sans-serif;
  color: #eb4d4b;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin-bottom: 12px;
  font-style: bold;
}
.footer .contact-text h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #222222;
  font-family: "Poppins", sans-serif;
}
.footer .contact-text .horizontal {
  width: 80px;
  height: 4px;
  background-color: #EB4D4B;
  margin-left: 42%;
}

.texts {
  width: 100%;
  height: 30px;
}
.texts #extras-container {
  text-align: center;
  margin-left: 34%;
  margin-top: 29px;
}
.texts #extras-container ul li {
  padding: 10px;
}
.texts #extras-container ul li a {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.texts #extras-container ul .span {
  position: relative;
  width: 1px;
  height: 17px;
  margin-top: 15px;
  background: rgba(32, 31, 31, 0.2);
}
.texts #company-container {
  text-align: center;
  margin-top: -18px;
  margin-left: 33%;
}
.texts #company-container ul li {
  padding: 10px;
}
.texts #company-container ul li a {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.texts #company-container ul .span {
  position: relative;
  width: 1px;
  height: 17px;
  margin-top: 19px;
  background: rgba(32, 31, 31, 0.2);
}

.footerend {
  background-color: #1a1919;
  width: 100%;
  height: 55px;
  bottom: 0px;
}
.footerend a {
  text-decoration: none;
  color: white;
}
.footerend p {
  color: white;
  letter-spacing: 0.7px;
}
.footerend .footer-text {
  margin: 17px;
}
.footerend .footer-img {
  margin-left: 25%;
}
.footerend .footer-img img {
  padding: 7px;
  margin-top: 8px;
}

.account-login .customer {
  width: 420px;
  height: 250px;
  padding: 19px;
  border: 1px solid #e5e3e3;
  margin-top: 30px;
}
.account-login .customer h2 {
  color: #333;
  font: 600 17px "Poppins", sans-serif;
  margin-top: 10px;
  letter-spacing: initial;
}
.account-login .customer strong p {
  font-weight: 600;
  color: #232323;
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: initial;
  font-family: "Poppins", sans-serif;
}
.account-login .customer p {
  color: #333;
  line-height: 22px;
  font-size: 14px;
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.account-login .customer .btn button {
  color: white;
  background-color: #232323;
  width: 116px;
  height: 40px;
  font-size: 15px;
  border: none;
}
.account-login .customer .btn button:hover {
  background-color: #CB2027;
}
.account-login .returning-customer {
  width: 420px;
  height: 330px;
  padding: 19px;
  border: 1px solid #e5e3e3;
  margin-top: 30px;
  margin-left: 30px;
}
.account-login .returning-customer h2 {
  color: #333;
  font: 600 17px "Poppins", sans-serif;
  margin-top: 10px;
  letter-spacing: initial;
}
.account-login .returning-customer p {
  margin-top: 14px;
}
.account-login .returning-customer p strong {
  font-weight: 550;
  color: #232323;
  font-size: 15px;
  letter-spacing: initial;
  font-family: "Poppins", sans-serif;
}
.account-login .returning-customer a {
  text-decoration: none;
  font-size: 15px;
  color: #232323;
}
.account-login .returning-customer a:hover {
  color: #D12121;
}
.account-login .returning-customer .btn button {
  color: white;
  background-color: #232323;
  width: 80px;
  height: 40px;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 5px;
  border: none;
}
.account-login .returning-customer .btn button:hover {
  background-color: #CB2027;
}
.account-login .returning-customer .control-label {
  margin-top: 7px;
}/*# sourceMappingURL=login.css.map */